
body
{
    margin: 0;
    padding: 0;
}

#global
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-width: 800px;
    min-height: 500px;
}

/***************** Header ****************/
#header
{
    width: 100%;
    height: 75px;
    background: url('../images/header-background.png') repeat-x;
}

#logo
{
    width: 450px;
    margin-top: 11px;
}

#button_subscribe
{
    position: absolute;
    top: 15px;
    right: 125px;
}

#button_connexion
{
    position: absolute;
    top: 15px;
    right: 15px;
}

.fleche-block-header
{
    position: absolute;
    top:-24px;
    right: 0;
}

#content_subscribe
{
    background: white;
    border: 1px solid #778088;
    width: 250px;
    height: auto;
    position: absolute;
    top: 80px;
    right: 125px;
    z-index: 10;
    display: none;
    text-align: center;
    padding: 5px;
}

#content_connexion
{
    background: white;
    border: 1px solid #778088;
    width: 250px;
    height: auto;
    position: absolute;
    top: 80px;
    right: 15px;
    z-index: 10;
    display: none;
    text-align: center;
    padding: 5px;
}

#content_subscribe input, #content_connexion input
{
    width: 200px;
}

.button-header {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
}
.button-header:hover,.buttonselected {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

/** Block content */

.block-content
{
    background: white;
    border-radius: 4px;
    border: 1px solid #778088;
    position: relative;
    margin: 0 auto;
    overflow: auto;
    width: auto;
    height: auto;
    min-height: 500px;
    padding: 15px;
    margin: 15px;
}

.block-content h2
{
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
    color: #262626;
}